<section class="faq" id="faq">
  <div class="container">
    <div class="section-header">
      <h2>سوالات متداول</h2>
      <p>سوالی برات پیش اومده؟ جوابش اینجاست</p>
    </div>
    <div class="faq-list">
      <div class="faq-item">
        <div class="faq-question">
          <span>می تونم پیامک های بانکی رو بصورت خودکار وارد زراندوز کنم؟</span>
          <i class="fas fa-plus"></i>
        </div>
        <div class="faq-answer">
          <p>
            بله! کافیه هنگام اضافه‌کردن کارت جدید، گزینه «خواندن پیامک‌های بانک»
            رو فعال کرده و سرشماره پیامکی متعلق به بانکتون رو از لیست پیامک‌ها
            انتخاب کنین. می‌تونین حداکثر ۳ سرشماره برای هر کارت بانکی انتخاب
            کنین. پیامک‌های بانکی جدید رو از صفحه «افزودن تراکنش» یا از طریق
            «علامت پیامک» بالای صفحه ببینین.
          </p>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          <span>پیامک بانکی من چند سرشماره داره چه کار کنم؟</span>
          <i class="fas fa-plus"></i>
        </div>
        <div class="faq-answer">
          <p>
            در صفحه کارت مدنظر، با انتخاب گزینه «افزودن سرشماره جدید» می‌تونین
            تا حداکثر ۳ سرشماره برای هر کارت وارد کنین.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
