<footer class="footer">
  <div class="footer-top">
    <div class="container padding-60">
      <div class="footer-content">
        <div class="footer-section footer-logo-section">
          <div class="footer-logo">
            <img src="images/logo-black.png" alt="زراندوز" class="logo-image" />
            <span class="logo-text">زراندوز</span>
          </div>
          <p class="footer-description">
            تمام حقوق مادی و معنوی این وبسایت متعلق به <a>زراندوز</a> می باشد
          </p>
        </div>

        <div class="footer-section footer-social-section">
          <div class="social-icons">
            <a href="#" class="social-icon" title="اینستاگرام">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon" title="تلگرام">
              <i class="fab fa-telegram"></i>
            </a>
            <a href="#" class="social-icon" title="واتساپ">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="#" class="social-icon" title="ایمیل">
              <i class="fas fa-envelope"></i>
            </a>
          </div>
          <div class="social-icons" style="margin-top: 30px">
            <a href="about.html" class="text">درباره ما</a>
            <a href="policies.html" class="text">حریم خصوصی</a>
            <a href="rules.html" class="text">قوانین و مقررات</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
