<section class="cta">
  <div class="container">
    <div class="rectangle-82 cta-content">
      <img
        src="images/vector1.png"
        alt="Vector decoration"
        class="vector-decoration"
      />
      <img
        src="images/vector1.png"
        alt="Vector decoration"
        class="vector-decoration-bottom"
      />
      <div class="cta-text">
        <h2>اشتراک هدیه ۳۰ روزه برای شروع</h2>
        <p>
          با دانلود زراندوز، اشتراک هدیه رو فعال کن و به تمام امکانات دسترسی
          داشته باش!
        </p>
        <button class="download-btn primary large">دانلود و نصب زراندوز</button>
      </div>
      <img
        src="images/gift.png"
        width="370"
        height="480"
        class="gift-image gift-image-mobile"
        alt="هدیه زراندوز موبایل"
      />
    </div>
    <img
      src="images/gift.png"
      width="370"
      height="480"
      class="gift-image gift-image-desktop"
    />
  </div>
</section>
